RewriteEngine On
Options +FollowSymLinks
RewriteCond $1 !^(index\.php|skin|media|css|images|robots\.txt|css)
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
# Remove index.php from URL
RewriteRule ^(.*)$ index.php/$1 [L] 