<div class="tab-pane active" id="tab-people">
	<div class="dashboard-stream-box well-container">

		<h3 class="dashboard-stream-box-top"> People I had lunch with  (1) </h3>

		<div class="dashboard-stream-box-middle dashboard-stream-box-container">
			<div class="activity-stream">
				<div id="user-lunch-buddy-list">
					<div class="lunch-buddy-item">
						<a href="/pub/jackyyapp">
						<div class="lunch-with profile-img-45 ls-profile-hover inset-image" ls-data-userid="3">
							<img title="Jacky" src="http://media.linkedin.com/mpr/mprx/0_izp7YYhxvN19AkP33P0yYj_xB1cnACP3TBHrYjtTe9iQa6kT712_rg67MgBWt5tDG9Olls2Oeh6-">
						</div> </a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="clearfix">
		&nbsp;
	</div>
	<div class="dashboard-stream-box well-container">

		<h3 class="dashboard-stream-box-top"> My Lunch Wishlist (3) </h3>

		<div class="dashboard-stream-box-middle dashboard-stream-box-container">
			<div class="activity-stream">
				<div id="user-wishlist">
					<div class="wishlist-item">
						<a class="" href="/pub/jackyyapp">
						<div class="lunch-with profile-img-45 ls-profile-hover inset-image" ls-data-userid="3">
							<img title="Jacky" src="http://media.linkedin.com/mpr/mprx/0_izp7YYhxvN19AkP33P0yYj_xB1cnACP3TBHrYjtTe9iQa6kT712_rg67MgBWt5tDG9Olls2Oeh6-">
						</div> </a>
					</div>
					<div class="wishlist-item">
						<a class="" href="/pub/4">
						<div class="lunch-with profile-img-45 ls-profile-hover inset-image" ls-data-userid="4">
							<img title="Qi Hao" src="http://media.linkedin.com/mpr/mprx/0_-vl8EBhlKIlK--YHt-3xEq1trHQtKlmHKN50EqACfmtC7zMeYPTuXN5uOL6S1n7X1nPY5Pi4Fu2Y">
						</div> </a>
					</div>
					<div class="wishlist-item">
						<a class="" href="/pub/yeecheng">
						<div class="lunch-with profile-img-45 ls-profile-hover inset-image" ls-data-userid="7">
							<img title="Yee Cheng" src="http://media.linkedin.com/mpr/mprx/0_FEYCEmpNNISz5Qjk5e2jEDjnNHUvb8Dk5SEjE20Qwm75ZXVXwummXuwesLREXb2e6Wyy5wSQpJJG">
						</div> </a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix">
		&nbsp;
	</div>
	<div class="dashboard-stream-box well-container">

		<h3 class="dashboard-stream-box-top"> Similar People (0) </h3>

		<div class="dashboard-stream-box-middle dashboard-stream-box-container">
			<div class="activity-stream">
				<div id="user-wishlist">
					<div style="text-align: center;">
						0 similar people.
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix">
		&nbsp;
	</div>

</div>