<div id="loading" style="text-align:center; font-size:150%; padding-top: 50px;">
	<div id="funky0" style="display: none; "></div>
	<div id="funky1" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Proving P == NP
	</div>
	<div id="funky2" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Inventing the time machine
	</div>
	<div id="funky3" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Knocking on Mark Zuckerberg's door
	</div>
	<div id="funky4" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Trying very hard to remember the past
	</div>
	<div id="funky5" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Searching for a cure for cancer
	</div>
	<div id="funky6" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Spinning the hamsters
	</div>
	<div id="funky7" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Giving out money to the poor
	</div>
	<div id="funky8" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Inventing the time machine
	</div>
	<div id="funky9" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Giving out money to the poor
	</div>
	<div id="funky10" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Pinging the server for any sign of life
	</div>
	<div id="funky11" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Inventing the time machine
	</div>
	<div id="funky12" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Feeding the statisticians
	</div>
	<div id="funky13" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Trying very hard to remember the past
	</div>
	<div id="funky14" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Spinning the hamsters
	</div>
	<div id="funky15" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Spinning the hamsters
	</div>
	<div id="funky16" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Resuscitating dead monkeys
	</div>
	<div id="funky17" style="background-color: transparent; margin-right: auto; margin-left: auto; display: none; margin-top: 0px; margin-bottom: 0px; ">
		Pinging the server for any sign of life
	</div>
	<div id="funky18" style="background-color: transparent; margin-right: auto; margin-left: auto; overflow-x: hidden; overflow-y: hidden; height: 7.9351449570565045px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; ">
		Resuscitating dead monkeys
	</div>
	<div id="funky19" style="background-color: transparent; margin-right: auto; margin-left: auto; overflow-x: hidden; overflow-y: hidden; height: 16.395486082820852px; margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px; ">
		Giving out money to the poor
	</div>
</div>