@charset "utf-8";
@
-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0)
	}
	
	to {
		-webkit-transform: rotate(360deg)
	}

}
@
-moz-keyframes rotate {
	from {-moz-transform: rotate(0)
}

to {
	-moz-transform: rotate(360deg)
}

}
@
-webkit-keyframes rotate2 {
	from {-webkit-transform: rotate(0)
}

to {
	-webkit-transform: rotate(720deg)
}

}
@
-moz-keyframes rotate2 {
	from {-moz-transform: rotate(0)
}

to {
	-moz-transform: rotate(720deg)
}

}
@
-webkit-keyframes rotate3 {
	from {-webkit-transform: rotate(1080deg)
}

to {
	-webkit-transform: rotate(0)
}

}
@
-moz-keyframes rotate3 {
	from {-moz-transform: rotate(1080deg)
}

to {
	-moz-transform: rotate(0)
}
}