
/* Header */
header {
	font-size: 1em;
	width: 100%;
	position: fixed;
	z-index: 999;
}
header ul {
	padding: 0;
	margin: 0;
}
header > ul > li {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0px;
	list-style: none;
	border: 1px solid transparent;
	box-sizing: border-box;
}
#h-container {
	color: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	border-bottom: 1px solid black;
	border-top: 1px solid #326ED2;
	border-radius: 0px;
	background: rgb(30,87,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNjMxNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(6,49,84,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(6,49,84,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(6,49,84,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(6,49,84,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(6,49,84,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(6,49,84,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#063154',GradientType=0 ); /* IE6-8 */
}
#lunchsparks-header-logo {
	font-size: 0.9em;
	padding: 5px 20px;
	height: 30px;
}
#h-uacc {
	float: right;
	margin: 0 5px;
}
#header .divider-vertical {
	background: none;
	border-right: 1px solid #1E5799;
}
/*
#h-container a {
	color: #FFFFFF;
}
#h-container a {
	text-decoration: none;
}
#h-menu {
	display: inline-block;
	vertical-align: middle;
}
#h-menu a, #h-uacc a {
	padding: 10px;
}

#lunchsparks-header-logo a {
	padding: 0 10px;
	display: inline-block;
}
header input[type=search] {
	display: inline-block;
	vertical-align: middle;
}
header input[type=button] {
	padding: 3px 20px;	
}*/

.header-items {
	display: inline-block;
	vertical-align: middle;
}
footer #f-widgets h3 {
	line-height: 45px !important;
	font-size: 15px !important;
}

