/* 16px */
#a-s-overview {
	background-position: 0px 0px;
}
#a-s-sync {
	background-position: 0px -16px;
}
#a-s-security {
	background-position: 0px -32px;
}
#a-s-privacy {
	background-position: 0px -48px;
}
#a-s-language {
	background-position: 0px -64px;
}
#a-s-mobile {
	background-position: 0px -80px;
}
#a-s-payment {
	background-position: 0px -96px;
}
#s-s-overview {
	background-position: 0px -112px;
}
#s-s-add {
	background-position: 0px -128px;
}
#a-s-profile {
	background-position: 0px -144px;
}
#a-s-preferences {
	background-position: 0px -160px;
}
#a-s-events {
	background-position: 0px -176px;
}
#a-s-suggestions {
	background-position: 0px -192px;
}
#a-s-invitations {
	background-position: 0px -208px;
}
#a-s-invite {
	background-position: 0px -208px;
}
#a-s-status {
	background-position: 0px -208px;
}

.ls-h-m-icon {
	background: url(../images/32/header_menu_icon.png) no-repeat;
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: block;
	padding: 0px !important;
	margin: 2px 5px;
}
.ls-h-m-icon:hover {
	background-color: transparent !important;
	background-position-x: -30px !important;
}
#ls-h-m-synchronize {
	background-position: 0px 0px;
}
#ls-h-m-preferences {
	background-position: 0px -30px;
}
#ls-h-m-schedules {
	background-position: 0px -60px;
}
#ls-h-m-events {
	background-position: 0px -90px;
}
#ls-h-m-invitations {
	background-position: 0px -120px;
}
#ls-h-m-admin {
	background-position: 0px -150px;
}
.steps-completed-number.one {
	background-position: 0px 0px;
}
.steps-completed-number.two {
	background-position: -80px 0px;
}
.steps-completed-number.three {
	background-position: -160px 0px;
}
.steps-completed-number.four {
	background-position: -240px 0px;
}
.user-icon-set {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(../images/16/user_icons_set.png) no-repeat;
}
.u-i-s-dashboard-widget-icon {
	background-position: 0px -16px;
}
.add-to-lunch-wishlist-btn {
	border: 1px solid #DDDDDD;
	background: #F6F6F6;
}
.add-to-lunch-wishlist-btn:hover {
	border: 1px solid #0073EA;
	background: #0073EA;
	color: #FFFFFF;
}
.add-to-lunch-wishlist-btn.lw-btn-added {
	border: 1px solid #0073EA;
	background: #0073EA;
	color: #FFFFFF;
}
.add-to-lunch-wishlist-btn.lw-btn-added:hover {
	border: 1px solid #025fc0;
	background: #025fc0;
	color: #FFFFFF;
}
