.column-2-left {
	float: left;
	padding: 20px 0 0 2px;
	width: 179px;
	word-wrap: break-word;
}
.column-2-right {
	border-left: 1px solid #B3B3B3;
	margin-left: 181px;
}

.content-area {
	background-color: white;
	padding-top: 15px;
}
.m-content-2-col-left {
	width: 200px;
	height: 100%;
	padding: 0;
	position: absolute;
	word-wrap: break-word;
}
.m-content-2-col-right {
	padding: 0 0 50px 15px;
	border-left: 1px solid #DDDDDD;
	margin-left: 201px;
	width: 740px;
	min-height: 300px;
}
.m-content-2-col-left-xl {
	width: 715px;
	min-height: 300px;
	padding: 0 15px 50px 15px;
	border-left: 1px solid #DDDDDD;
	display: inline-block;
}
.m-content-2-col-right-xs {
	width: 210px;
	height: 100%;
	padding: 0;
	word-wrap: break-word;
	display: inline-block;
	float: right;
}
.dashboard-activity {
	padding: 10px 0;
}
.dashboard-stream-box {
	
}
.dashboard-stream-box-container {
	margin: 10px 20px;
}
.content-table-2-col-left {
	display: inline-block;
	/*width: 150px;*/
	width: 17%;
	vertical-align: middle;
	padding: 10px;
}
.content-table-2-col-right {
	display: inline-block;
	/*width: 700px;*/
	width: 80%;
	vertical-align: middle;
}
.content-left-col,
.content-right-col,
.content-top-row {
	padding: 5px;
}
.box-details {
	padding: 10px;
	min-height: 200px;
	/*background-color: #EFF1F1;*/
	background: rgba(248, 248, 248, 0.5);
	box-shadow: inset 0px 0px 1px #ccc;
	border: 1px solid #E2E4E4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 1px 1px 2px #EFEFEF;
	text-shadow: 1px 1px 2px white;
}
.box-details .title {
	display: inline-block;
	width: 100px;
}
.no-result-message {
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	
}