.places-summary-large {
	margin: 10px 0px;
}
.places-logo {
	width: 128px;
	height: 128px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}
.places-summary-large .places-logo img {
	max-width: 128px;
	max-height: 128px;
}
.places-summary-large .places-featured-data {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.places-summary-large .places-name {
	font-weight: bold;
	font-size: 32px;
	line-height: normal;
	text-shadow: 1px 1px 1px #CCC;
}
.places-summary-large .others {
	padding: 0;
	color: #555;
	font-size: 13px;
}
.places-summary-large .others label {
	line-height: 20px;
	color: #555;
	font-size: 13px;
}
#places_map {
    height: 300px;
    border: 1px solid #CCCCCC;
}
.place-featured-statistics {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid #EFEFEF;
	text-align: center;
	margin: 50px auto;
}
.places-ratings {
	display: inline-block;
	margin: 10px;
	min-width: 90px;
}

.rating-points {
	text-align: center;
	color: #222;
}
.rating-points .points {
	font-size: 250%;
	font-weight: bold;
	text-shadow: 1px 1px 1px #CCC;
}
.rating-points .fields {
	color: #999;
	margin-top:5px; 
	font-weight:bold;
	font-size: small
}

