/*
 style.css
 Lunchsparks

 Created by stiucsib86 on 2011-08-28.
 Copyright 2011 stiucsib86. All rights reserved.
 */

/* Container Size */
#h-container {min-width: 800px; margin: auto;}
#m-container {width: 960px; margin: auto;}
#f-container {width: 960px; margin: auto;}
.g-content-container {width: 960px; margin:auto;}

/* Page Styling */
body {
	background: #000000;
	font-family: Arial;
	margin: 0;
	padding: 0;
}
h1 {
	text-shadow: 0 1px 0 #FFFFFF;
}
#login_form {
	width: 350px;
	background: #f0f0f0;
	margin: 40px auto;
	padding: 20px 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.error {
	color: #393939;
	font-size: 15px;
}
fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

/* Header */
header {
	font-size: 0.8em; width:100%;
}
header ul {padding: 0;margin: 0;}
header ul li {padding: 0;margin: 0px;list-style: none;float: left;}
#h-container {
	height: 35px; line-height: 32px; block;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	background: #E7E7E7; color: #777;}
#h-container a {text-decoration: none;}
#h-menu {float: left;}
#h-uacc {float: right;}
#h-menu a, #h-uacc a {padding:10px;} 
#h-menu a:hover, #h-uacc a:hover {background: #d4d4d4;}
#lunchsparks-header-logo {font-size: 0.9em;padding: 0 20px;}

/* Content */
#m-container-outer {background: #FFFFFF;padding:10px 0;}
#m-container {
	margin:auto;padding:10px;min-height: 200px;
	background: #F9F9F9;
	border-left: 1px solid #E6E6E6;border-right: 1px solid #E6E6E6;border-bottom: 1px solid #E6E6E6;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	border-radius: 5px;
}
#main-content {padding:20px 0;}




/* Footer */
footer {font-size: 0.8em; text-shadow: 0 -1px 0 #484D55;color: #CBD2DC;}
footer legend {margin: 10px 0;}
footer ul {padding: 0;margin: 0;}
footer ul li {padding: 0;margin: 15px 5px;list-style: none;float: left;}

.f-copyright {float: left;font-weight: bold;}
.f-socialmedia {float: right;}








/**
 * 	
 *  Content 
 * 
 **/
#statistic-bar{background: #000000;color:#FFFFFF;}
.counter-digit {
	font-family: "Droid Sans", sans-serif; width:22px;line-height:40px;display:inline-block;
	font-size: 30px;line-height: 42px;
	text-align: center;
	background: url("counter-digit-bg.jpg") repeat-x;
	border: 2px solid #1d1d1c;
}
.main-content-left {width: 700px;}
.main-content-sidebar {font-size: 0.8em; width: 250px;float: right;}

.counter-stats-container {float:left; padding: 0 20px;}
.counter-stats-container .title {float:left; color: #EFEFEF;padding:10px;}
.counter-stats-container .data {
	float:left; color: #EFEFEF;padding:10px;
	font-family: "Droid Sans", sans-serif;
}


/* 
 * 
 * Miscellaneous 
 * 
 * */

/* Form fields */

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	padding: 1em;
	width: 260px;
	border: 5px;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
input[type=submit], form a {
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	margin: 6px;
	padding: 6px;
	width: auto !important;
	font-weight: bold;
	font-size: .916em;
	color: white;
	border-radius: 5px; 
	border: none;
	text-shadow: 0 -1px 0 #777;
	border: 1px solid #0088C3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background: #40B5E6;
	filter: progid
	: DXImageTransform.Microsoft.gradient(startColorstr='#40B5E6',endColorstr='#0088C3',GradientType=0);
	cursor: pointer;
}
input[type=submit]:hover, form a:hover {
	background: #3794bb;
}


/* Buttons */
.button, .button:link, .button:visited {
    white-space: nowrap;
    position: relative;
    float: left;
    padding: 0 9px 1px;
    width: auto!important;
    font-weight: bold;
    font-size: .916em;
    color: white;
    height: 24px;
    line-height: 24px;
    text-shadow: 0 -1px 0 #777;
    border: 1px solid #0088C3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #40B5E6;
    cursor: pointer;
}
.button:hover, .button-hover {
    text-decoration: none;
    border-color: #15A0DB;
    background: #60D2FF;
}
.button:active {margin-top:1px;}
.submit, .login {line-height:24px;margin:5px;}
.submit span, .login span {margin:5px;}

/* Loading styles */
.loading-icon {}

/* misc styles */
.clearfix {clear:both;}
.f-left {float:left;}
.f-right {float:right;}
.rounded {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.shadow {
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.title {color: #0E385F;}