@charset "utf-8";
#ls_cover {
	height: 10px;
	position: relative;
}
#ls_social_share_container {
	position:relative;
	margin: 5px 0;
}
#ls_profile_card_container {
	position: relative;
	height: 190px;
}
.ls_profile_card_container {
	width: 250px;
	height: 150px;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #EFEFEF;
	padding: 0px;
	box-sizing: border-box;
}
#ls_profile_card {
	height: 180px;
	overflow: hidden;
	background: url(../images/1/bg_opacity07.png);
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
#ls_profile_card .profile-img img {
	/*width: 160px;*/
	width: 100px;
}
.profile-card-featured-data {
	/*margin-left: 120px;
	padding: 10px 30px;*/
	width: 150px;
	height: 150px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
}
.profile-card-featured-data {
	font-size: 12px;
	font-weight: bold;
}
.profile-card-featured-data .profile-name{
	font-size: 16px;
	color: black;
	text-shadow: 1px 1px 1px #CCC;
	margin: 5px 0;
}
.profile-card-featured-data .profile-img {
	/*margin-top: -20px;
	float: left;
	left: 23px;
	position: absolute;*/
	/*width: 160px;
	height: 160px;*/
	width: 95px;
	height: 100px;
	overflow: hidden;
	border: 4px solid #FFFFFF;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
	background: url(../images/1/bg_opacity07.png);
	display: inline-block;
	box-sizing: border-box;
}
.profile-img a {
	display: inline-block;
}
.profile_card_data {
	padding: 10px;
}
.profile_card_data ul {
	list-style: none;
	margin: 10px 0;
	padding: 0px;
}
.lunch-with {
	float: left;
	margin: 2px;
}
.image-border {
	border: 4px solid #FFEFEF;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
}
.connections-profile-img {
	width: 80px;
	height: 80px;
	overflow: hidden;
	float: left;
}
[class^="profile-img-"] img {
	width: 100%;
}
.profile-img-100,
.profile-img-100 img {
	max-width: 100px;
	overflow: hidden;
}
.profile-img-80,
.profile-img-80 img {
	max-width: 80px;
	max-height: 80px;
	overflow: hidden;
}
.profile-img-50 img {
	max-width: 50px;
	overflow: hidden;
	border: 1px solid #CCC;
	padding: 2px;
}
.profile-img-45 {
	height: 45px;
	width: 45px;
	overflow: hidden;
	background: #FFFFFF url("../images/50/image-placeholder.png") no-repeat;
}
.profile-img-45 img {
	max-width: 45px;
	max-height: 45px;
	overflow: hidden;
}
.profile-img-40 img {
	max-width: 40px;
	overflow: hidden;
}
.profile-img-32 img {
	max-width: 32px;
	overflow: hidden;
}
.external-data {
	font-size: 13px;
}
.external-data-settings {
	margin-left: 120px;
}
/*.table-connections {
	width: 100%;
	border-collapse: collapse;
}
.table-connections td {
	vertical-align: middle;
	padding: 5px;
	border-top: 1px solid #E1E1E1 !important;
	border-bottom: 1px solid #E1E1E1 !important;
}*/
.stream-item {
	margin: 5px 0;
	padding: 5px 15px;
	border-bottom: 1px solid #EEEEEE;
}
.stream-item-2-col-left {
	width: 60px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
}
.stream-item-2-col-right {
	display: inline-block;
	vertical-align: middle;
}
.stream-content {
	margin: 2px 0;
}
.stream-content-footer {
	margin: 2px;
	font-size: smaller;
}
#announcements {
	margin-bottom: 5px;
}
#account-setting-sidebar ul {
	margin: 10px 0;
	padding: 0;
}
#account-setting-sidebar li {
	list-style: none;
}
.a-s-icon-xlhdpi {
	background: url(../images/16/settings-icons.png) no-repeat;
	height: 16px;
	padding-left: 20px;
	display: inline-block;
}
a.a-s-icon-xlhdpi {
	background: url(../images/16/settings-icons.png) no-repeat;
}
.invitation-box-green {
	/*background-color: #698C2E !important;
	background-image: -moz-linear-gradient(top, #a7cf62, #698c2e) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #a7cf62),color-stop(1, #698c2e)) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a7cf62', EndColorStr='#698c2e')";*/
	
	background: rgb(167,207,98); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(167,207,98,1) 0%, rgba(105,140,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,98,1)), color-stop(100%,rgba(105,140,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(167,207,98,1) 0%,rgba(105,140,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(167,207,98,1) 0%,rgba(105,140,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(167,207,98,1) 0%,rgba(105,140,46,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(167,207,98,1) 0%,rgba(105,140,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cf62', endColorstr='#698c2e',GradientType=0 ); /* IE6-9 */

	
	
	margin: 0px;
	padding: 10px !important;
	border-top-color: #C6F17A;
	border-bottom-color: #344616;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	-moz-box-shadow: 0px 0px 8px #15181b;
	-webkit-box-shadow: 0px 0px 8px #15181b;
	box-shadow: 0px 0px 8px #15181b;
	text-shadow: 0px 1px 2px #393939;
	color: white !important;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;
}
.profile-stats {
	position: absolute;
	margin: 0 10px;
	display: inline-block;
}
#user-verification {
	margin: 0 5px;
	padding: 0 10px;
	min-width: 16px;
	min-height: 16px;
}
.user-verification-icon {
	width: 16px;
	height: 16px;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: -10px;
	z-index: 1;
	display: inline-block;
	position: absolute;
	background: url(../images/16/user_icons_set.png) no-repeat;
}
.user-verification-icon.user-verfied {
	background-position: -16px 0;
}
.user-verification-icon.user-verfied:hover {
	background-position: 0px 0px;
}
.user-verification-text {
	background-color: #E6E6E6;
	color: #36C;
	cursor: default;
	display: none;
	float: left;
	font-size: 12px;
	height: 16px;
	line-height: normal;
	padding: 0 10px;
	overflow: hidden;
	position: absolute;
	border-radius: 0 2px 2px 0;
}
#steps-completed-title {
	width: auto;
	margin-top: 5px;
	padding: 8px 18px;
	text-align: left; 
	font-size: 100%;
	color: #FFFFFF;
	text-shadow: 0 -1px 0 #333333;
	font-size: 16px;
	font-weight: bold;
	/*background: -moz-linear-gradient(top,#829AA8,#405A6A);
	background: -moz-linear-gradient(center top,'#829AA8','#405A6A');background: -webkit-gradient(linear,left top,left bottom,from(#829AA8),to(#405A6A));
	background: -moz-linear-gradient(top,#829AA8,#405A6A);*/
	background: #FCFCFC url(../images/1/bg_ldpi_7545c.png) repeat-x right bottom;
	border: 1px solid #BBBBBB;
	border-bottom-color: #6B808D;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	position: relative;
}
#steps-completed-title span {
	font-size: 70%;
	color: #EFEFEF;
	text-shadow: none;
}
#steps-completed-title .ui-dialog-titlebar-close:hover {
	border: 1px solid #999;
	background: #DADADA url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
#steps-completed {
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
}
#steps-completed-body {
	padding: 10px 0 10px 10px;
	background-color: #E9F1F4;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.steps-completed-item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 3px;
	width: 23.8%;
	/*background: -moz-linear-gradient(top,#FFFFF5,#F5F3B4);
	background: -moz-linear-gradient(center top,'#FFFFF5','#F5F3B4');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fffff5',endColorstr='#f5f3b4');
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFF5),to(#F5F3B4));
	background: -moz-linear-gradient(top,#FFFFF5,#F5F3B4);*/
	background: url(../images/1/bg_xhdpi_600c.png) repeat-x;
	border: 1px solid #DFDDB5;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	position: relative;
}
.steps-completed-item:hover {
	/*background: -moz-linear-gradient(top,#FFFFF5,#F5F3B4);
	background: -moz-linear-gradient(center top,'#FFFFF5','#F5F3B4');
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fffff5',endColorstr='#f5f3b4');
	background: -webkit-gradient(linear,left top,left bottom,from(#FFFFF5),to(#F5F3B4));
	background: -moz-linear-gradient(top,#FFFFF5,#F5F3B4);*/
	background: url(../images/1/bg_xhdpi_600c_hover.png) repeat-x;
	border: 1px solid #a4a385;
}
.steps-completed-item .desc {
	padding: 13px 15px;
	text-align: left;
	font-size: 95%;
	display: block;
	height: 50px;
	overflow: hidden;
	border-top: 1px solid white;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
}
.steps-completed-item .desc p {
	margin: 2px;
	font-size: 95%;
	color: #AAAAAA;
}
.steps-completed-item .arrow{
	margin: -2px -20px 0 0;
	width: 23px;
height: 48px;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/24/btn_span_bg_arrow_right_light_grey.png) no-repeat right top;
}
.steps-completed-item.first-item a {
	/*border-left: 1px solid #C1CCD6;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;*/
}
.steps-completed-item a {
	text-decoration: none;
	/*width: 238px;*/
	/*color: #333333 !important;
	padding: 0 32px 0 32px;
	margin-right: -4px;
	line-height: 46px;
	height: 46px;
	display: inline-block;
	position: relative;
	border-top: 1px solid #C1CCD6;
	border-bottom: 1px solid #C1CCD6;*/
	/*background: #FCFCFC url(../images/1/header_gradient.png) repeat-x left top;*/
	/*background: #FCFCFC url(../images/1/btn-bg-light-grey.png) repeat-x right bottom;*/
}
.steps-completed-item a:hover {
	/*background: #F0F0F0;*/
	background: #ECECEC;
	box-shadow: 1px 1px 1px #AAAAAA;
}
.steps-completed-item.done {
	background: #DDDDDD !important;
}
.steps-completed-item.done a {
	color: #AAAAAA !important;
	text-decoration: line-through;
}
.steps-completed-item:active {
	margin-top: 1px;
}
.steps-completed-number {
	background: url(../images/p/steps_completed/step_number_xhdpi.png);
	position: absolute;
	width: 80px;
	height: 80px;
	bottom: 0;
	right: 0;
	z-index: 0;
}
/*
.preferences-container {
	margin: 20px 0 10px 0;
}
.preferences-container .title {
	padding: 8px;
	background: #F8F8F8;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #EFEFEF;
	margin: 20px 0;
}
.preferences-container .title .description {
	font-size: 85%;
	color: #777777;
}
.preferences-data {
	margin: 10px 0;
}*/
.preferences-data-item {
	display: inline-block;
}
.preferences-data-item a {
	color: #FFFFFF;
}
.preferences-data-item img {
	display: inline-block;
	height: 26px;
	vertical-align: top;
	float: left;
}
.preferences-data-item-content {
	background: #232323;
	font-size: 13px;
	color: white;
	margin: 0px 2px 0px 15px;
	display: inline-block;
	float: left;
	position: relative;
	border-radius: 0px 4px 4px 0px;
	height: 25px;
}
.preferences-data-item-content a {
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.preferences-data-item-content:hover {
	background: #646464;
}
.preferences-data-item-content div {
	padding: 5px 10px;
	box-shadow: 1px 1px 3px #333;
	border-radius: 0 5px 5px 0;
	background: #232323;
	line-height: 1;
}
.preferences-data-item-content div::before {
	content: "";
	float: left;
	position: absolute;
	top: 0;
	left: -13px;
	width: 0;
	height: 0;
	border-color: transparent #232323 transparent transparent;
	border-style: solid;
	border-width: 13px 13px 13px 0;
}
.preferences-data-item-content div:hover {
	background: #646464;
}
.preferences-data-item-content div:hover::before {
	border-color: transparent #646464 transparent transparent;
}
.preferences-data-item-content div::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 0;
	float: left;
	width: 4px;
	height: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: white;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;
}
.preferences-data-item-content div:hover::after {
	border-color: transparent #646464 transparent transparent;
}
/* Profile Summary Small */
.profile-img-container {
	margin: 10px auto;
	position: relative;
	width: 90%;
	max-width: 240px;
}
.profile-img-container .profile-img {
	background: #FFFFFF;
	border: 1px solid;
	border-style: solid;
	border-width: 1px;
	border-color: #DDD #CACACA #ACACAC;
	padding: 5px;
	position: relative;
	text-align: center;
}
.profile-img-container .profile-img img {
	width: 90%
}
.profile-name-sidebar {
	text-align: center;
}
.profile-name-sidebar .heading {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
 
/* [SECTION] profile-summary-large */
#profile-summary-large {
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.profile-summary-large .header {
	border-bottom: 1px solid #EFEFEF;
	padding: 3px 2px; 
}
.profile-summary-large .profile-img {
	width: 128px;
	height: 128px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border-top: 1px solid #EFEFEF;
	border-bottom: 1px solid #333;
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #333;
	box-shadow: 1px 1px 1px #CCC;
} 
.profile-summary-large .profile-img img {
	width: 128px;
}
.profile-summary-large .profile-name {
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	text-shadow: 0 -1px 1px #000000;
}
.profile-summary-large .headline {
	color: #464646;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
}
.profile-summary-large .others {
	padding: 0;
	color: #555;
	font-size: 13px;
}
/* dashboard-stream-box */
.dashboard-stream-box-top {
	margin: 5px 0;
	padding: 10px 0;
	border-bottom: 1px solid #EFEFEF;
}
