.column-2-left {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
	box-sizing: border-box;
}
.column-2-right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	/*border-left: 1px solid #B3B3B3;*/
	box-sizing: border-box;
}

.content-area {
	background-color: white;
	padding-top: 15px;
}
.m-content-2-col-left { /* with sidebar */
	width: 200px;
	height: 100%;
	padding: 0;
	position: absolute;
	word-wrap: break-word;
}
.m-content-2-col-right { /* with sidebar */
	padding: 0 0 50px 15px;
	border-left: 1px solid #DDDDDD;
	margin-left: 201px;
	width: 740px;
	min-height: 300px;
}
.m-content-2-col-left-xl {
	width: 690px;
	min-height: 300px;
	/*box-sizing: border-box;
	border-left: 1px solid #DDDDDD;*/
	padding: 15px 15px 50px 15px;
	display: inline-block;
}
.m-content-2-col-right-xs {
	width: 220px;
	height: 100%;
	/*box-sizing: border-box;*/
	padding: 15px 15px 50px 0px;
	word-wrap: break-word;
	display: inline-block;
	float: right;
}
.section-top {
	background: url(../images/bg/alternate_texture.png);
	border-top: 1px solid #FFFFFF;
	padding: 10px;
	box-sizing: border-box;
	color: #495961;
	text-shadow: 1px 1px 1px #CCCCCC;
	font-size: 16px;
	font-weight: bold;
	text-indent: 5px;
}
.section-top .caption {
	font-size: 85%;
	color: #777777;
}
.section-middle {
	background: url(../images/bg/box-body.png);
	border-top: 1px solid #DDDFE7;
	padding: 10px;
	box-sizing: border-box;
}
.section-top-xs,
.section-middle-xs {
	padding: 2px 5px;
}

.row-item {
	color: #666;
	border: 1px solid #DDDFE7;
	outline: none;
}
.row-item:hover {
	background: rgba(248,248,248,0.5);
}
.row-menu-item {
	padding: 4px 10px;
	background: #ECECEC;
	color: #666;
	border-top: 1px solid #FFEFEF;
	cursor: pointer;
	outline: none;
	font-weight: bold;
}
.row-menu-item.active {
	background: url(../images/24/row-menu-item-active.png) no-repeat right top;
	background-color: #254CB8 !important;
	color: #FFFFFF;
}
.row-menu-item a {
	color: #111111;
	display: block;
}
.row-menu-item.active a {
	color: #FFFFFF;
}
.row-menu-item:hover {
	background-color: #f4f6ff;
}
.dashboard-activity {
	padding: 10px 0;
	background-color: #F8F8F8;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 0px 5px #CCC;
}
.dashboard-stream-box {
	
}
.dashboard-stream-box-container {
	margin: 10px 20px;
}
.content-table-2-col-left {
	display: inline-block;
	/*width: 150px;*/
	width: 25%;
	vertical-align: middle;
	padding: 10px;
	box-sizing: border-box;
}
.content-table-2-col-right {
	display: inline-block;
	/*width: 700px;*/
	width: 70%;
	vertical-align: middle;
	box-sizing: border-box;
}
.content-left-col,
.content-right-col,
.content-top-row {
	padding: 5px;
}
.box-details {
	padding: 10px;
	min-height: 200px;
	/*background-color: #EFF1F1;*/
	/*background: rgba(248, 248, 248, 0.5);
	box-shadow: inset 0px 0px 1px #ccc;
	border: 1px solid #E2E4E4;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	text-shadow: 1px 1px 2px white;
}
.box-details .title {
	display: inline-block;
	width: 100px;
}