html {
	background-image: url(../images/bg/bg.png);
}
body.singlebox-toremove {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(30,87,153,0.5) 29%, rgba(6,49,84,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(29%,rgba(30,87,153,0.5)), color-stop(100%,rgba(6,49,84,0.8))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,87,153,0.5) 29%,rgba(6,49,84,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(30,87,153,0.5) 29%,rgba(6,49,84,0.8) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(30,87,153,0.5) 29%,rgba(6,49,84,0.8) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(30,87,153,0.5) 29%,rgba(6,49,84,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#063154',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
}
body {
	height: 100%;
}
.content-1-liner {
	margin: 40px auto;
	padding: 40px 0;
}
.column-2-left,
.column-2-right,
.column-2-left-xl,
.column-2-right-xs,
.column-2-left-xs,
.column-2-right-xl  {
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
	/*box-sizing: border-box;*/
}
.column-2-left {
	width: 48%;
}
.column-2-right {
	width: 48%;
}
.column-2-left-xl {
	width: 69%;
}
.column-2-right-xs {
	width: 29%;
}
.column-2-left-xs {
	width: 29%;
}
.column-2-right-xl {
	width: 69%;
}
/* Content */
#m-container-outer {
	/*background: url(../images/5/body_bg.jpg) #FFFFFF;*/
	/*background: #F8F8F8;*/
	background: #F5F5F5 url(../images/180/bg-grey.png);
	padding: 56px 0 10px 0;
}
#m-container { 
	/*margin:auto;padding:10px;min-height: 200px;
	background: #F9F9F9;
	background: white;
	border-left: 1px solid #E6E6E6;border-right: 1px solid #E6E6E6;border-bottom: 1px solid #E6E6E6;
	box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;-webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	border-radius: 5px;*/
	margin: auto;
	font-weight: normal;
	border-radius: 3px;
	border: 0px solid #E5E5E5;
}
#main-content {
	padding: 20px 0;
}
.m-wrapper {
	min-width: 960px;
	max-width: 1200px;
	margin: auto;
	padding: 0px;
	position: relative;
}
.content-area {
	background-color: white;
	padding-top: 15px;
}
.m-content-2-col-left { /* with sidebar */
	width: 200px;
	height: 100%;
	padding: 0;
	position: absolute;
	word-wrap: break-word;
}
.m-content-2-col-right { /* with sidebar */
	padding: 0 0 50px 15px;
	border-left: 1px solid #DDDDDD;
	margin-left: 201px;
	width: 740px;
	min-height: 300px;
}
.m-content-2-col-left-xl {
	width: 72%;
	min-height: 300px;
	/*width: 690px;
	box-sizing: border-box;
	border-left: 1px solid #DDDDDD;*/
	padding: 15px 15px 50px 15px;
	display: inline-block;
}
.m-content-2-col-right-xs {
	width: 23%;
	height: 100%;
	/*width: 220px;
	box-sizing: border-box;*/
	padding: 15px 13px 50px 0px;
	word-wrap: break-word;
	display: inline-block;
	float: right;
}
.section-top {
	background: url(../images/bg/alternate_texture.png);
	border-top: 1px solid #FFFFFF;
	padding: 10px;
	box-sizing: border-box;
	color: #495961;
	text-shadow: 1px 1px 1px #CCCCCC;
	font-size: 16px;
	font-weight: bold;
	text-indent: 5px;
}
.section-top .caption {
	font-size: 85%;
	color: #777777;
}
.section-middle {
	background: url(../images/bg/box-body.png);
	border-top: 1px solid #DDDFE7;
	padding: 10px;
	box-sizing: border-box;
}
.section-top-xs,
.section-middle-xs {
	padding: 2px 5px;
}
.row-item {
	color: #666;
	border: 1px solid #DDDFE7;
	outline: none;
}
.row-item:hover {
	background: rgba(248,248,248,0.8);
}
.row-item-simple {
	color: #666;
	border-top: 1px solid #DDDFE7;
	outline: none;
}
.row-item-simple:hover {
	background: rgba(248,248,248,0.8);
}
.row-item-faded {
	color: #666;
	border: 1px solid #F8F8F8;
	padding: 3px 5px;
	outline: none;
}
.row-item-faded:hover {
	background: rgba(248,248,248,0.8);
}
.row-item.xl {
	padding: 10px 5px;
}
.row-menu-item {
	padding: 4px 10px;
	background: #ECECEC;
	color: #666;
	border-top: 1px solid #FFEFEF;
	cursor: pointer;
	outline: none;
	font-weight: bold;
}
.row-menu-item.active {
	background: url(../images/24/row-menu-item-active.png) no-repeat right top;
	background-color: #254CB8 !important;
	color: #FFFFFF;
}
.row-menu-item a {
	color: #111111;
	display: block;
}
.row-menu-item.active a {
	color: #FFFFFF;
}
.row-menu-item:hover {
	background-color: #f4f6ff;
}
.dashboard-activity {
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0 0px 5px #CCCCCC;
}
.dashboard-activity.padding {
	padding: 10px 0;
}
.dashboard-stream-box {
	
}
.dashboard-stream-box-container {
	margin: 10px 20px;
}
.content-table-2-col-left,
.content-table-2-col-right {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-align: left;
}
.content-table-2-col-left {
	width: 24%;
}
.content-table-2-col-right {
	width: 74%;
}
.content-left-col,
.content-right-col,
.content-top-row {
	padding: 5px;
}
.box-details {
	padding: 10px;
	min-height: 200px;
	/*background-color: #EFF1F1;*/
	/*background: rgba(248, 248, 248, 0.5);
	box-shadow: inset 0px 0px 1px #ccc;
	border: 1px solid #E2E4E4;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	text-shadow: 1px 1px 2px white;
}
.box-details .title {
	display: inline-block;
}

.cover_background {
	min-height: 150px;
	max-height: 250px;
	overflow: hidden;
	z-index: -1;
	-webkit-transition-duration: .29s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-property: height, left, margin, padding, width;
}
.after_cover_background {
	position: relative;
	margin-top: -150px;
}
.after-cover-background-inner {
	background-color: rgba(255, 255, 255, 0.85);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 130px;
	overflow: hidden;
}

.dashboard-summary-large {
	position: relative;
}
.dashboard-featured-container {
	padding: 10px;
}
.dashboard-featured-logo {
	width: 12%;
	height: 128px;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}
.dashboard-featured-logo img {
	max-width: 128px;
	max-height: 128px;
}
.dashboard-featured-data {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	width: 60%;
}
.dashboard-featured-data a {
	text-shadow: white 0 1px 0;
	color: #333;
}
.dashboard-featured-data .others {
	padding: 3px;
}
.dashboard-featured-data .name {
	font-weight: bold;
	font-size: 32px;
	text-shadow: 1px 1px 1px #CCC;
}
.dashboard-featured-statistics {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	width: 20%;
}
.ratings {
	display: inline-block;
	margin: 10px;
	min-width: 90px;
	
}