
.c-pages {
	text-align: justify;
	background: #FFFFFF;
}
.radial-grey {
	background: url(../images/bg/bg-grey.png);
}
.radial-grey-2 {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(245,245,245,0.7) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(245,245,245,0.7)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(245,245,245,0.7) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(245,245,245,0.7) 0%,rgba(245,245,245,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(245,245,245,0.7) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  rgba(245,245,245,0.7) 0%,rgba(245,245,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f5f5f5', endColorstr='#f5f5f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.page-img-container img {
	border: 5px solid #EFEFEF;
	box-shadow: 1px 1px 1px #ccc;
}

.page-photo-container.profile {
	width: 150px;
	margin: 10px;
	float: left;
	border: 5px solid #EFEFEF;
	box-shadow: 1px 1px 1px #ccc;
}

.page-image-container {
	width: 150px;
	height: 200px;
	overflow: hidden;
}

.page-photo-container.profile img {
	max-width: 150px;
}

.page-image-caption {
	margin: 5px;
	text-align: center;
	font-size: 90%;
}

.c-pages-content-2-col {
	
}

.event_page .ui-button-text-only .ui-button-text {
	padding: 5px 10px;
}

.edit-this-page {
	margin: 5px 0;
	padding: 10px;
	background: rgba(0,0,0,0.5);
}
