#masonry-container {
	text-align: left;
}
.pin {
	width: 210px;
	margin: 5px;
	/*float: left; */
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	background: #FFFFFF;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	opacity: 0.8;
	text-align: left;
}
.pin:hover {
	opacity: 1;
}
.pin-details {
	padding: 10px;
}
.pin-extras {
	padding: 10px;
	background: #F2F0F0;
	border-top: 1px solid #FCFAFA;
	border-bottom: 1px solid #D9D4D4;
}
.pin-image {
	text-align: center;
	min-height: 80px;
	border-top: 1px solid rgba(224, 224, 224, 0.1);
	border-bottom: 1px solid rgba(224, 224, 224, 0.5);
	border-left: 1px solid rgba(224, 224, 224, 0.2);
	border-right: 1px solid rgba(224, 224, 224, 0.2);
	background: rgba(224, 224, 224, .2 );
}
.pin-image img {
	max-width: 190px;
}
.pin-stats {
	color: #8C7E7E;
	margin: 5px 0;
}
.pin-data {
	text-align: left;
}
/*.pin-data.description {
	height: 36px;
	overflow: hidden;
}
.pin-extras.tags {
	height: 60px;
	overflow: hidden;
}
.pin-extras.team-members {
	height: 65px;
	overflow: hidden;
}*/
#masonry-container {
	padding-bottom: 50px;
}

