.widget-box {
	margin: 0 0 10px 0;
}
.widget-box-title-bar {
	border: 1px solid #DDDDDD;
	border-bottom-color: #6B808D;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: url(../images/1/btn-bg-light-grey.png) repeat bottom;
}
.widget-box-container {
	padding: 10px 0;
	background: #F8F8F8;
	border: 1px solid #EFEFEF;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.widget-box h4 {
	margin: 5px;
}
.widget-title {
	color: #555555;
}
.widget-box {
	margin: 0 0 10px 0;
}
.widget-box-simple {
	font-size: 11px;
	background: #F8F8F8;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
}
.widget-box-simple ul {
	list-style: none;
	padding: 0 5px;
}
.widget-box-simple h4 {
	padding: 10px 10px 0 10px;
	font-size: 12px;
	margin: 0;
}
.widget-box-simple .widget-box-container {
	background: none;
	border-top: 1px solid #F8F8F8;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.widget-box-container li {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.widget-box-container label {
	line-height: normal;
}