/*
 style.css
 Lunchsparks

 Created by stiucsib86 on 2011-08-28.
 Copyright 2011 stiucsib86. All rights reserved.
 */
* {
}
body {
	/*background: #254cb8;
	background: #232323;*/
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 13px;
	min-width: 1024px;
	direction: ltr;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2 {
	/*font-family: Georgia, Times, sans-serif;
	text-shadow: 0 1px 0 #CCCCCC;
	color: #5F82AD;*/
	margin: 0 0 10px 0;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0 white;
	color: #495961;
	
}
.sub-heading {
	text-shadow: 1px 1px 0 white;
}
img {
	border: none;
}
/* Container Size */
#h-container {
	min-width: 800px;
	margin: auto;
}
#m-container {
	margin: auto;
}
#f-container {
	width: 960px;
	margin: auto;
}
.g-content-container {
	width: 960px;
	margin: auto;
}
.m-content {
	padding: 0;
	position: relative;
	/*background: url(../images/1/bg_opacity04.png);*/
}
.forms {
	border: 1px solid #CCCCCC;
	-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-khtml-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	background: #f0f0f0;
	margin: 10px auto;
	padding: 0 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.error {
	color: #393939;
	font-size: 15px;
}
#login_form {
}
.notification-toggle-container:hover, #h-menu a:hover, #h-uacc a:hover {
	background-color: rgba(23,54,135, 0.5);
}
/* Footer */
footer {
	margin: auto;
	padding: 10px 0;
	font-size: 1em;
	color: #FFFFFF;
	text-shadow: black 1px 1px 1px;
	box-shadow: inset 1px 1px 2px #000000;
	background-image: url(../images/bg/bg.png);
}
footer.xl {
	background: #232323 url(../images/bg/footer_bg_2.png) repeat-x 0 0;
	padding: 0;
	box-shadow: none;
	border-top: 1px solid rgba(0,0,0,0.3);
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
}
footer li:hover {
}
footer legend {
	margin: 10px 0;
}
footer ul {
	padding: 0;
	margin: 0;
}
footer ul li {
	padding: 0;
	margin: 5px;
	list-style: none;
}
#f-twitter-icon {
	margin-top: -20px;
	position: absolute;
}
#f-twitter {
	margin-left: 50px;
	padding: .8em 0;
	position: relative;
	height: 16px;
	color: #BBBBBB;
	overflow: hidden;
	text-shadow: none;
}
.tweet_item {
	clear: both;
	line-height: 17px;
}
.tweet_text a {
	max-width: 700px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tweet_text, .tweet_hours {
	float: left;
}
.tweet_text, .tweet_hours {
	margin-right: 10px;
	height: 35px;
}
.tweet_text a {
	padding: 0px;
	color: #444444;
}
.tweet_hours {
	color: #888888;
	font-size: 90%;
	vertical-align: bottom;
}
.f-copyright {
	float: left;
	line-height: 25px;
	font-weight: bold;
}
.f-sitemap ul {
	float: left;
	margin: 0px;
}
.f-sitemap h6 {
	margin: 15px 0;
	text-transform: uppercase;
}
.f-socialmedia {
	float: right;
}
/**
 *
 *  Content
 *
 **/
#statistic-bar {
	background: #000000;
	color: #FFFFFF;
}
.counter-digit {
	font-family: "Droid Sans", sans-serif;
	width: 22px;
	line-height: 40px;
	display: inline-block;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 3px;
	/*background: url("../images/counter-digit-bg.jpg") repeat-x;
	 border: 2px solid #1d1d1c;*/
}
.main-content-left {
	width: 650px;
}
.main-content-sidebar {
	/*width: 300px;
	float: right;*/
	background: url(../images/200/left-sidebar-bg.png) bottom left no-repeat;
	background-color: #ECECEC;
	/*border-right: 1px solid #BDBDBD;*/
	border-left: 1px solid #BDBDBD;
	height: 95%;
}
.counter-stats-container {
	float: left;
	padding: 0 20px;
}
.counter-stats-container .title {
	float: left;
	color: #EFEFEF;
	padding: 10px;
}
.counter-stats-container .data {
	float: left;
	color: #EFEFEF;
	padding: 10px;
	font-family: "Droid Sans", sans-serif;
}
/**
 * 	Content
 * */
.profile_img {
	max-width: 170px;
}
.profile_img_thumb {
	max-width: 50px;
}
/**
 * 	List
 */
.stream {
}
.stream-item {
	border-color: #E9E9E9;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 10px 0;
}
/* Menu Toggle Visibility Items*/
.overlay-frame {
	-moz-box-shadow: 1px 1px 1px 0px #333333;
	-webkit-box-shadow: 1px 1px 1px 0px #333333;
	-khtml-box-shadow: 1px 1px 1px 0px #333333;
	box-shadow: 1px 1px 1px 0px #333333;
}
/* Helper */
.edit-overlay {
	background: black;
	color: white;
	display: none;
	height: 20px;
	opacity: .7;
	padding: 6px 7px 0 23px;
	position: absolute;
	right: 1px;
	top: 0;
}
.edit-overlay:hover {
	display: block;
	opacity: 0.9;
}
/*
 *
 * Miscellaneous
 *
 * */
.title {
	font-weight: bold;
}
.caption {
	font-size: 11px;
	font-weight: normal;
	color: #555555;
}
/*input[type=text], input[type=password], input[type=email], input[type=search], textarea {
	display: block;
	margin: 0.5em 0;
	padding: 0.6em;
	width: 260px;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #AAA;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: inset 0 0 3px #CCC;
}
input[type=search], .search {
	background: #FFFFFF url(/skin/images/32/search_gray.png) left center no-repeat;
	box-shadow: inset 0 0 3px #CCC;
	padding-left: 34px !important;
}*/
.form-search {
	padding: 0px;
	margin: 0px;
}
.form-search input {
	margin-top: 5px;
	display: inline-block;
	vertical-align: middle;
}
.submit, .login {
	line-height: 24px;
	margin: 5px;
}
.submit span, .login span {
	margin: 5px;
}
/* Other Design Styles */
.loading-icon {
	background: url(../images/loading/process.png) no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin: 40px auto;
}
.loading-icon-overlay {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #FFFFFF;
}
.rotate {
	-webkit-animation-name:rotate;
	-moz-animation-name:rotate;
	-webkit-animation-duration:8s;
	-moz-animation-duration:8s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
.rotate2 {
	-webkit-animation-name:rotate2;
	-moz-animation-name:rotate2;
	-webkit-animation-duration:12s;
	-moz-animation-duration:12s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-transition-timing-function:ease-in-out;
	-moz-transition-timing-function:ease-in-out;
	-o-transition-timing-function:ease-in-out;
	transition-timing-function:ease-in-out
}
.rotate3 {
	-webkit-animation-name:rotate;
	-moz-animation-name:rotate;
	-webkit-animation-duration:7s;
	-moz-animation-duration:7s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-transition-timing-function:linear;
	-moz-transition-timing-function:linear;
	-o-transition-timing-function:linear;
	transition-timing-function:linear
}

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px
}

::-webkit-scrollbar-button {
	height: 0;
	width: 0
}

::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 0 0 0 4px
}

::-webkit-scrollbar-track:horizontal {
	border-width: 4px 0 0
}

::-webkit-scrollbar-track:hover {
	background-color: rgba(0, 0, 0, .05);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:horizontal:hover {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-track:active {
	background-color: rgba(0, 0, 0, .05);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-track:horizontal:active {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb:horizontal {
	border-width: 6px 1px 1px;
	padding: 0 0 0 100px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
}

::-webkit-scrollbar-corner {
	background: transparent
}

body::-webkit-scrollbar-track-piece {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 0 0 0 3px;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0
		rgba(0, 0, 0, .07)
}

body::-webkit-scrollbar-track-piece:horizontal {
	border-width: 3px 0 0;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0
		rgba(0, 0, 0, .07)
}

body::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 5px
}

body::-webkit-scrollbar-thumb:horizontal {
	border-width: 5px 1px 1px
}

body::-webkit-scrollbar-corner {
	background-clip: padding-box;
	background-color: #f5f5f5;
	border: solid #fff;
	border-width: 3px 0 0 3px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14)
}

/* misc styles */

.bigger {
	font-size: 120%;
}
.xbigger {
	font-size: 140%;
	text-shadow: 1px 1px 2px white;
	font-weight: bold;
	padding: 5px;
}
.xsmaller {
	font-size: 90%;
	padding: 5px;
}
.clearfix {
	clear: both;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.shadow-rounded {
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	/*-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-khtml-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;*/
	-moz-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px -1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px -1px;
	-khtml-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px -1px;
	box-shadow: rgba(0, 0, 0, 0.7) 0 2px 5px -1px;
}
.label,
.title {
	/*color: #0E385F;*/
	color: #7C7D7D;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 16px;
	height: 16px;
	background: url(../images/16/close.gif) center no-repeat;
}
.disabled {
	cursor: default;
}
.floating-dialog {
	z-index: 9999;
}
.hr {
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 30px 0;
	line-height: 29px;
	position: relative;
	margin: 0;
	background: url(../images/hr.png) repeat-x scroll left center transparent;
	text-align: center;
}
.hr-text {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	font-size: 15px;
	padding: 0px 25px;
	margin: 0 auto;
	text-transform: uppercase;
}
.hr-text.light{
	background: #f7f7f7;
	color: #403F39;
	text-shadow: 0 1px 0 #FFF;
	border: 1px solid #CCC;
	box-shadow: 0 0 3px #CCC;
}
.hr-text,
.hr-text.dark {
	background: #555;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #444;
	border: 1px solid #333;
	box-shadow: 1px 1px 3px #CCC;
}
.hr-2 {
	text-align:center;
}
.hr-2 * {
	vertical-align: middle;
}
.hr-2 .line-separator {
	background: #DDDDDD;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	height: 1px;
	display: inline-block;
	width: 150px;
}
.hr-2-text {
	display: inline-block;
	font-weight: bold;
	text-shadow: 0 1px 0 white;
	display: inline-block;
	color: #403F39;
	padding: 0 25px;
	font-size: 18px;
	height: auto;
	margin: auto;
}
.f-options-set {
	float: right;
	margin-top: 7px;
}
.f-options-set ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.f-options-set ul li {
	float: left;
	opacity: 0.3;
}
.f-options-set ul li:hover {
	opacity: 1.0;
}
.infobox {
	font-family: 'Myriad Pro', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: #F7F7F7 !important;
	border-bottom: 1px solid #DBDBDB !important;
	padding: 30px 40px 10px !important;
	margin: 0 0 20px;
	text-align: justify;
}
.infobox .block {
	width: 400px;
	padding: 0 20px;
	float: left;
}
.infobox .hr {
	padding: 5px 0;
}
.drop-shadow {
	background: url(../images/1/shadow_down.png) repeat-x;
}
.box-container {
	margin: 10px 0;
}
.box-container {
	margin: 20px 0 10px 0;
}
.box-container .title {
	padding: 8px;
	background: #F8F8F8;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #EFEFEF;
	margin: 20px 0;
}
.box-container .title .description {
	font-size: 85%;
	color: #777777;
}

/* Others */
#f-widgets .block {
	text-align: justify;
	float: left;
	width: 200px;
}
#f-widgets .block p {
	color: #BBBBBB;
	line-height: 21px;
	padding: 5px 0;
}
.f-sitemap {
	float:right;
}
#f-widgets .block,
.f-copyright {
	padding: 0 25px 0 0;
}
.f-sitemap li {
	float:left;
}
#f-bottom-bar {
	clear: both;
	padding: 10px 0;
	font-size: 90%;
	background: url(../images/1/bg-footer-hr.png) repeat-x;
}
.main-page-content-bg {
	/*background: url(../images/960/ls_logo_opa_05.png) no-repeat 0 40%;*/
}
.thead {
	background: #EFEFEF;
}
.row-0 {
	/*background: #EFFFEF;*/
}
.row-1 {
	/*background: #F8F8F8;*/
}
td {
	/*border: 1px solid #F8F8F8;*/
}

.input-tooltip {
	position: absolute;
	display: none;
	margin-top: 5px;
	color: #333333;
	padding: 10px;
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
}
.input-tooltip::before {
	content: "";
	position: absolute;
	top: -20px;
	left: 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent #CCCCCC transparent;
}
.ajax-highlight { 
	margin: 10px auto;
	padding: 0 .7em; 
	width: 300px;
	display: none;
}
.divider {
	background-color: #D2D2D2;
	border: 0;
	height: 1px;
	margin: 20px 0 20px 0;
}
.editable {
	min-width: 200px;
	text-align: left;
}

.inset-image {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.inset-image img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.line-separator {
	background: #A29B8B;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	height: 1px;
}
.label {
	display: inline-block;
	margin: 0 auto;
	text-transform: uppercase;
	color: #333;
	text-shadow: 0 1px 0 white;
	/*font-size: 12px;*/
	text-decoration: none;
	padding: 0 0 5px 0;
}
.no-result,
.content-unavailable {
	width: 80%;
	margin: 20px auto;
	text-align: center;
}
.no-result-xl,
.content-unavailable-xl {
	width: 80%;
	margin: 100px auto;
	text-align: center;
	vertical-align: middle;
}
.intro-heading {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background: #EAEAEA !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EAEAEA)) !important;
	background: -webkit-linear-gradient(#F7F7F7, #EAEAEA) !important;
	background: -moz-linear-gradient(center top, #F7F7F7 0%, #EAEAEA 100%) !important;
	background: -moz-gradient(center top, #F7F7F7 0%, #EAEAEA 100%) !important;
	background: -ms-linear-gradient(#F7F7F7, #EAEAEA) !important;
	background: -o-linear-gradient(#F7F7F7, #EAEAEA) !important;
	-webkit-background-clip: border-box !important;
	background-clip: border-box !important;
	zoom: 1;
	/*-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);*/
	border-top: 1px solid #EAEAEA;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	z-index: 1;
	position: relative;
	color: #434343;
	font-size: 13px;
	padding: 20px;
	margin: 30px 2px;
}
.intro-heading::before {
	content: "";
	position: absolute;
	bottom: -40px;
	left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px;
	border-color: #CCCCCC transparent transparent transparent;
}
.box-padding {
	padding: 10px 0;
}
.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px #000000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 1px 0px #000000; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 1px 0px #000000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
.box-shadow-light {
  -webkit-box-shadow: 0px 0px 4px 0px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 4px 0px #ffffff; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 4px 0px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
