#ls_cover {
	height: 300px;
	position: relative;
}

.cover_background {
	height: 300px;
	overflow: hidden;
	z-index: -1;
	-webkit-transition-duration: .29s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-property: height, left, margin, padding, width;
}

#ls_profile_card_container {
	position: relative;
	margin-top: -50px;
}

.ls_profile_card {
	height: 170px;
	background: url(../images/1/bg_opacity09.png);
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

.ls_profile_card .profile-img img {
	max-width: 160px;
}

.profile-featured-data {
	margin-left: 180px;
	padding: 10px 30px;
}

.profile-featured-data * {
	font-size: 16px;
	font-weight: bold;
}

.profile-img {
	margin-top: -40px;
	float:left;
	max-height: 180px;
	overflow: hidden;
	border: 4px solid #FFFFFF;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
	display: block;
	left: 23px;
	position: absolute;
}

.m-content-2-col-left {
	width: 200px;
	padding: 0;
	float:left;
	word-wrap: break-word;
}

.m-content-2-col-right {
	border-left: 1px solid #DDDDDD;
	margin-left: 201px;
	padding-left: 15px;
	width: 750px;
}

.widget-title {
	border-bottom: 1px solid #666666;
	background: #FFEFEF;
	color: #555555;
	padding: 5px 2px;
}

.lunch-with {
	float: left;
	margin: 2px;
}

.image-border {
	border: 4px solid #FFEFEF;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
}

.connections-profile-img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
}

.profile-img-100 img {
	max-width: 100px;
	overflow: hidden;
}
.profile-img-50 img {
	max-width: 50px;
	overflow: hidden;
}
.profile-img-45 img {
	max-width: 45px;
	overflow: hidden;
}
.profile-img-40 img {
	max-width: 40px;
	overflow: hidden;
}
.profile-img-32 img {
	max-width: 32px;
	overflow: hidden;
}

.external-data {
	font-size: 13px;
}

.external-data-settings {
	margin-left: 120px;
}

.table-connections {
	width: 100%;
	border-collapse: collapse;
}

.table-connections td {
	vertical-align: middle;
	padding: 5px;
	border-top: 1px solid #E1E1E1 !important;
	border-bottom: 1px solid #E1E1E1 !important;
}

.service-icon {
	height: 24px;
	line-height: 24px;
	padding-left: 30px;
}

#linkedin.service-icon {
	background: url(../images/24/social_linkedin_box_blue.png) no-repeat left center;
}

#twitter.service-icon {
	background: url(../images/24/social_twitter_box_blue.png) no-repeat left center;
}

.stream-item {
	margin: 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid #EEEEEE;
}

.stream-item-2-col-left {
	width: 60px;
	float:left;
}

.stream-item-2-col-right {
	margin-left: 60px;
}

.stream-content {
	margin: 2px 0;
}

.stream-content-footer {
	margin: 2px;
	font-size: smaller;
}



#announcements {
	margin-bottom: 5px;
}

#account-setting-sidebar ul {
	margin: 10px 0; padding: 0;
}

#account-setting-sidebar li {
	list-style: none;
}

.a-s-icon-xlhdpi {
	background: url(../images/16/settings-icons.png) no-repeat;
	height: 16px;
	padding-left: 20px; 
	display: inline-block;
}

a.a-s-icon-xlhdpi {
	background: url(../images/16/settings-icons.png) no-repeat;
}

#a-s-overview {
	background-position-y: 0px;
}
#a-s-sync {
	background-position-y: -16px;
}
#a-s-security {
	background-position-y: -32px;
}
#a-s-privacy {
	background-position-y: -48px;
}
#a-s-language {
	background-position-y: -64px;
}
#a-s-mobile {
	background-position-y: -80px;
}
#a-s-payment {
	background-position-y: -96px;
}

.invitation-box-green {
	background-color: #698C2E !important;
	background-image: -moz-linear-gradient(top, #a7cf62, #698c2e) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #a7cf62),color-stop(1, #698c2e)) !important;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#a7cf62', EndColorStr='#698c2e')";*/
	margin: 0px;
	padding: 10px !important;
	border-top-color: #C6F17A;
	border-bottom-color: #344616;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	-moz-box-shadow: 0px 0px 8px #15181b;
	-webkit-box-shadow: 0px 0px 8px #15181b;
	box-shadow: 0px 0px 8px #15181b;
	text-shadow: 0px 1px 2px #393939;
	color: white !important;
	font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',sans-serif;
}


